@charset "UTF-8";
/* CSS Document */

body {
  background: rgb(250, 250, 250);
  font-family: sans-serif;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

h1 {
  border: 0;
  color: rgb(163, 205, 217);
  font-size: 3em;
  margin: 0;
  padding: 1em 0 0 0;
}

h2 {
  border: 0;
  color: rgb(163, 205, 217);
  font-size: 2em;
   margin: 0;
  padding-bottom:1em;
}
h3 {
  border-bottom: 2px solid rgb(163, 205, 217);
  color: rgb(163, 205, 217);
  font-size: 1.5em;
  margin: 0;
  padding: 1em 0 0 0em;
}

h4 {
  border: 0;
  color: rgb(242, 204, 57);
  font-size: 1em;
  margin: 0;
  padding: 0.2em 0 0.1em 0;
}

p {
  border: 0;
  color: rgb(113, 133, 133);
  font-size: 1em;
  margin: 0;
  padding: 0 0.5em 0 0em;
}

ul {
  list-style: none;
  padding: 0;
}
